body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 500px;
    border-collapse: collapse;
    position: relative;
}

thead > tr > th { /*isso + (table {position: relative;) mantem o cabeçalho fixo*/
    position: sticky;
    top: -1px;
    background-color: black;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

thead, tfoot {
    background-color: black;
    color: white;
}

tbody > tr:nth-child(odd) {
    background-color: gray;
}

td.num {
    text-align: right;
}