@charset "UTF-8";

body {
    text-align: center;
}

div.box {
    display: inline-block; /*deixa tudo na mesma linha, se encortar a página vai pra de baixo*/
    background-color: gray;
    border: 2px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
}


div.box:hover {  /*div:hover será a div que o mause se posicionar no momento */
    background-color: bisque;
}

div.exhover {
    display: inline-block;
    text-align: center;
    width: 200px;
}
div.exhover > p {
    display: none;
    text-align: center;
   }

div.exhover:hover > p {
    display: block;
    text-align: center;
    color: white;
    background-color: red;
    height: 100px;
    width: 200px;
}


a {
    text-decoration: none;
}

a:visited {
    color: red;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: white;
    background-color: blue;
}

a::after {
    content: ' [link] ';
    text-decoration: none;
}

/* relembrando

# - id 
. = class
: = pseudo-class
:: = pseudo-elemnet
> = childrem
   */