@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    h1, p {
        font-size: 1.2em;
    }

    section#login {
        width: 90vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-position: center center;
    }

    section#login > div#formulario {
        float: right;
        width: 65%;
    }
    
    form > div.campo {
        max-width: 200px;
    }

    form > input[type=submit] {
        max-width: 200px;
    }

    form > a.botao {
        max-width: 200px;
    }
}

@media screen and (min-width: 993px) {

    h1, p {
        font-size: 1.4em;
    }

    section#login {
        width: 990px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 45%;
    }
}